{% extends 'base.html.twig' %}

{% block title %}
    La librairie
{% endblock %}

{% block body %}
    <h1>
        {{ contenu.titre }}
    </h1>
    {% if carousels is not null %}
        <div id="home-carousel" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
            {% for carousel in carousels %}
<button type="button" data-bs-target="#home-carousel" data-bs-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %}
                aria-current="true" aria-label="Slide {{ loop.index0 }}"></button>
            {% endfor %}
               
            </div>
            <div class="carousel-inner">
            {% for carousel in carousels %}
                <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                    <img src="{{ asset('images/carousels/'~ carousel.imageName )}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            {% if carousel.title is not null %} <h5>
                                {{carousel.title}}
                            </h5> {% endif %}
                        {% if carousel.text is not null %} <div>{{carousel.text|raw}} </div>{% endif %}
                        </div>
                    </div>
            {% endfor %}
                </div>    
                        <button class="carousel-control-prev" type="button" data-bs-target="#home-carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">
                                Previous
                            </span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#home-carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">
                                Next
                            </span>
                        </button>
                    </div>
                {% endif %}
                <div>
                    {{ contenu.texte|raw }}
                </div>
                <h6>
                    {{ contenu.signature }}
                </h6>
            {% endblock %}
            